/* картина "Опять двойка" в блоке header */
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
  right: 0;
  bottom: 0;
  z-index: 1;
}
