* {
  border: 1px solid red;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  margin: auto;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
}

/* логотип */
.header__logo {
  height: 32px;
  width: 183px;
  background: url(../images/logo_place_header.svg) no-repeat center;
  position: absolute;
  z-index: 3;
}

/* координаторы логотива на header */
.header__logo_place {
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  padding: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 65px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}

.header__link::after {
  content: "\279D";
}

/* картина "Опять двойка" на header */
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

/* синий квадрат на header */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 0;
}

.content {
  padding: 0;
}

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  display: flex;
}

.two-columns__header-description {
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.two-columns_span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph_margin {
  margin: 30px 0;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  display: flex;
  justify-content: center;
}

.section-title_theme_light {
  margin: 100px 0 20px 0;
}

.section-title_theme_dark {
  color: white;
  margin-bottom: 20px;
  padding: 90px  0 0 0;
}

.section-title__header {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.section-subtitle {
  width: 60%;
  display: flex;
  justify-content: center;
}

.section-subtitle_theme_dark {
  color: white;
}

.section-subtitle__header {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.table {
  width: 1100px;
}

.table_theme_light {
  padding-top: 60px;
}

 .table_theme_dark {
  margin-bottom: 90px;
}

.table__line {
  display: flex;
  justify-content: space-between;
}

.table__cell {
  margin: 0;
  padding: 0;
  border-spacing: 0;
}

.table__cell_theme_light {
  width: 250px;
}

/* оригинальный модификатор с ключом */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}


.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.table__text:last-child {
  margin: 20px 0 0 0;
}

.feynman {
  height: 890px;
  background: #f2f2f2 url(../images/feynman.png) no-repeat bottom left;
  background-size: 867px 637px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0;
}

.feynman__title {
  width: 648px;
}

.feynman__header {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 100px 0 70px 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
}

.feynman__link-text {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feynman__link-text::after {
  content: "\279D";
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  z-index: -1;
  width: 877px;
  height: 877px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 40px 0;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  display: flex;
  flex-basis: 711px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
  color: white;
}

.footer__author::before {
  content: "\00A9";
}

